<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editar Ahorro</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://kit.fontawesome.com/d8e40fe595.js" crossorigin="anonymous"></script>
        <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">
    </head>
    <body>
        <nav class="navbar" style="background-color: #4caf50;">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Opciones
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" th:href="@{/savings}">Ver Ahorro</a></li>
                        <li><a class="dropdown-item" th:href="@{/savings/new}">Agregar Ahorro</a></li>
                        <li><a class="dropdown-item" th:href="@{/money-out}">Registrar Gastos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container mt-5">
            <h1>Editar Ahorro</h1>
            <form th:action="@{/money-out/update}" th:object="${expense}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="mb-4">
                    <label for="amount" class="form-label">Monto</label>
                    <input type="number" id="amount" class="form-control" th:field="*{amount}" step="0.01" required>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success px-4"><i class="fa-solid fa-right-to-bracket"></i> Guardar Cambios</button>
                    <a th:href="@{/money-out}" class="btn btn-info px-4 ms-3"> <i class="fa-solid fa-rotate-right"></i> volver</a>
                </div>
            </form>
        </div>
    </body>
</html>
